<main class="body-container">
  <section class="registration">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :post, multipart: true}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field image-field">
        <div class="avatar-preview-container">
          <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar, class: "avatar" %>
          <% else %>
            <%= image_tag 'default-avatar.webp', class: "avatar" %>
          <% end %>
          <%= f.file_field :avatar, id: "user_avatar" %>
          <br>
        </div>
      </div>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Full name", autocomplete: "name" %>
      </div>



      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
      </div>


      <div class="field">
          <%= f.password_field :password, placeholder: "Password 6 characters minimum", autocomplete: "new-password" %>
        <div class="flex">
        </div>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </section>
<main>

<script>
  const avatarInput = document.querySelector('#user_avatar');
  const previewContainer = document.querySelector('.avatar-preview-container');
  avatarInput.addEventListener('change', function() {
    const file = avatarInput.files[0];
    const url = URL.createObjectURL(file);
    const previewImg = document.createElement('img');
    previewImg.src = url;
    previewImg.classList.add('avatar');
    previewContainer.innerHTML = '';
    previewContainer.appendChild(previewImg);
  });
</script>