<main class="body-container">
  <section class="container">
    <%= form_for [current_user, @group, @entity] do |f| %>
      <% if @entity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
          <ul>
            <% @entity.errors.full_messages.each do |message| %>
              <li class="alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Transaction name' %>
      </div>

      <div class="field">
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: 'Amount', step:"0.01"%>
      </div>

      <%= f.hidden_field :author_id, value: current_user.id %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </section>
</main>
