<!DOCTYPE html>
<html>
  <head>
    <title>Budget Wizard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Google fonts %>
    <link href="https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">

    <%# Font awesome %>
    <script src="https://kit.fontawesome.com/09255b1703.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless current_page?(welcome_path) %>
    <%= render partial: 'shared/header', locals: { header: @header || "Budget Wizard" } %>
  <% end %>
    <% if notice %>
      <div class="alert-success">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
